body {
    margin: 0px;
    min-height: 356px;
    font-family: Helvetica;
    background-color: rgb(129, 190, 247);
}

#footer {
    text-align: center;
    font-family: Helvetica;
    font-size: 10pt;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(132, 132, 132);
    -webkit-margin-top-collapse: separate;
    margin-top: 10px;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    position: relative;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-left: 0px;
    width: auto;
    margin-right: 0px;
    min-height: 326px;
    height: auto;
}

#logo-box {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    background-color: white;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    position: relative;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 90px;
    margin-left: 9px;
    width: auto;
    margin-right: 9px;
    min-height: 89px;
    height: auto;
}

#logo-text {
    text-align: center;
    color: black;
    font-family: Helvetica;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 31px;
    width: auto;
    margin-right: 0px;
    min-height: 26px;
    height: auto;
}

.selected #logo-text {
    color: white;
}

#signin-box {
    position: relative;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 27px;
    margin-left: 0px;
    width: auto;
    margin-right: 0px;
    min-height: 25px;
    height: auto;
}

#image {
    width: 151px;
    height: 24px;
    position: relative;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 0px;
    margin-left: 83px;
}

#inner_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
