#roundSquare{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 5px;
	margin-left: 11px;
	padding:10px 40px; 
	background:#FFFFFF;
	border-radius:10px;
	-moz-border-radius:25px;
}

#map_canvas{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: -300px;
	margin-left: 23px;
}

#message{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 10px;
	margin-left: 23px;
	width: 260px;
	height: 70px;
	border-top-left-radius: 9px 9px;
	border-top-right-radius: 9px 9px;
	border-bottom-left-radius: 9px 9px;
	border-bottom-right-radius: 9px 9px;
	border-color: rgba(0, 0, 0, 0.230469);
	color: rgb(150, 150, 150);
}

#postTwitter_div{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 10px;
	margin-left: 23px;
	width: 260px;
	height: 70px;
	color: rgb(0, 0, 0);
	font: 12pt HelveticaNeue;
}

#addPhoto{
	border-top-left-radius: 9px 9px;
	border-top-right-radius: 9px 9px;
	border-bottom-left-radius: 9px 9px;
	border-bottom-right-radius: 9px 9px;
	border-color: rgba(0, 0, 0, 0.230469);
	color: rgb(150, 150, 150);
	width: 100px;
}

#addPhoto_div{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: -70px;
	margin-left: 183px;
}

#checkin_button{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 20px;
	margin-left: 23px;
}

#checkin_text{
	font-size: 20px;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	position: relative;
	display: block;
	margin-left: -5px;
	margin-top: -32.5px;
}