.roundSquare{
	padding:10px 40px; 
	background:#FFFFFF;
	border-radius:10px;
	-moz-border-radius:25px;
	color: #acacac;
}

#raceList{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 30px;
	margin-left: 25px;
	font: bold 20px Helvetica;
	z-index:2;
}

#roundSquare_races{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: -20px;
	margin-left: 11px;
	z-index: -1;
}

#square{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: -75px;
	margin-left: 11px;
	padding:10px 40px; 
	border-radius:1px;
	-moz-border-radius:5px;
	background-color: rgba(179, 184, 82, 0.2);
}

#pastRaces{
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	position: relative;
	display: block;
	margin-left: 23px;
	margin-top: -48px;
	color: rgba(82, 82, 82, 0.71);
	font: bold 25px Helvetica;
}

#newRace{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 35px;
	margin-left: 23px;
}

#newRace_text{
	font-size: 20px;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	position: relative;
	display: block;
	margin-left: 0px;
	margin-top: -31px;
	font-family: Helvetica;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.589844) 0px -1px 0px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#logout{
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 20px;
	margin-left: 135px;	
}

a{
	text-decoration: none;
	color: #3128ff;
}