
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
 
    <description>
      Laboratorio de clase.
    </description>
    <display-name>Laboratorio de clase</display-name>

	<servlet>
		<servlet-name>Controlador</servlet-name>
		<servlet-class>Controlador</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controlador</servlet-name>
		<url-pattern>/Controlador</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorPerfil</servlet-name>
		<servlet-class>ControladorPerfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorPerfil</servlet-name>
		<url-pattern>/ControladorPerfil</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorAgregaComentario</servlet-name>
		<servlet-class>ControladorAgregaComentario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorAgregaComentario</servlet-name>
		<url-pattern>/ControladorAgregaComentario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorContacto</servlet-name>
		<servlet-class>ControladorContacto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorContacto</servlet-name>
		<url-pattern>/ControladorContacto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorAgregaRegistrar</servlet-name>
		<servlet-class>ControladorAgregaRegistrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorAgregaRegistrar</servlet-name>
		<url-pattern>/ControladorAgregaRegistrar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorLogin</servlet-name>
		<servlet-class>ControladorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorLogin</servlet-name>
		<url-pattern>/ControladorLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RMIControlador</servlet-name>
		<servlet-class>RMIControlador</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RMIControlador</servlet-name>
		<url-pattern>/RMIControlador</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorCompras</servlet-name>
		<servlet-class>ControladorCompras</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorCompras</servlet-name>
		<url-pattern>/ControladorCompras</url-pattern>
	</servlet-mapping>
</web-app>
